@font-face {
    font-family: 'Lexend'; 
    src: url('Lexend.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lexend', Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('bg.png'); 
    background-size: cover;
    background-attachment: fixed; 
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: -1; 
}

container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px 0px; 
    box-sizing: border-box; 
    position: relative; 
}

.container {
    display: flex;
    align-items: center;
}

.container img,
.container p {
    margin: 10px;
}

header {
    background-color: #08d4fc;
    color: #020716;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: rgb(110, 159, 252);
    padding: 1em;
}

nav a {
    color: #020716;
    text-decoration: none;
    margin: 0 1em;
}

section {
    padding: 20px 300px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
